{% extends "base.html" %}
{% block content %}
<h3 class="display-3 form-banner">Quotes</h3>
<form method="post" action="{{ url_for('quote_display') }}">
    {{ form.csrf_token }}
    <div class="my-3 col-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {{ form.quote_contains.label(class="form-label")}}
        {{ form.quote_contains(class="form-control")}}
        {{ form.speaker.label(class="form-label")}}
        {{ form.speaker(class="form-control")}}
        {{ form.submit(class="btn btn-info mt-1")}}
    </div>
</form>
<div class="container-fluid search-result-container">
    {% if quotes %}
    <table class="table table-hover table-bordered border-dark">
        <thead>
        <tr>
            <th class="col-9" scope="col">Quote</th>
            <th class="col-2" scope="col">Speaker</th>
            <th class="col-1" scope="col">Page #</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for quote in quotes %}
        <tr>
            <th scope="row">{{quote.quote}}</th>
            <th scope="row">{{quote.speaker}}</th>
            <th scope="row">{{quote.page}}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There were no quotes that met your requirements.</p>
    {% endif %}
</div>
{% endblock %}