{% extends "base.html" %}
{% block content %}
<h3 class="display-3 form-banner">Register</h3>
<form method="POST" action="{{ url_for('register_user') }}">
    {{ form.csrf_token }}
    <div class="my-3 col-4 offset-4">
         {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {{ form.username.label(class="form-label")}}
        {{ form.username(class="form-control")}}
    </div>
    <div class="my-3 col-4 offset-4">
        {{ form.password.label(class="form-label")}}
        {{ form.password(class="form-control")}}
    </div>
    <div class="my-3 col-4 offset-4">
        {{ form.password_confirmation.label(class="form-label")}}
        {{ form.password_confirmation(class="form-control")}}
    </div>
    <div class="my-3 col-4 offset-4">
        {{ form.register(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}