{% extends "base.html" %}
{% block content %}
<div class="form-banner">
    <h3 class="display-3">{{username|title }}'s Notes for <em>{{ notes.book.title }}</em></h3>
    {% if notes.chapter %}
    <h5 class="display-5">Chapter {{ notes.chapter }}</h5>
    {% endif %}
</div>
<div class="container p-5 notes" id="note-container">
    <p>{{notes.notes|safe }}</p>
    {% if quotes %}
    <table class="table table-hover table-bordered border-dark my-5">
        <thead>
        <tr>
            <th class="col-9" scope="col">Quote</th>
            <th class="col-2" scope="col">Speaker</th>
            <th class="col-1" scope="col">Page #</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for quote in quotes %}
        <tr>
            <th scope="row">{{quote.quote}}</th>
            <th scope="row">{{quote.speaker}}</th>
            <th scope="row">{{quote.page}}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if current_user.is_authenticated and current_user.id == orig_user.id %}
    <a type="button" href="{{url_for('edit_notes', note_id=notes.id) }}" class="btn btn-primary float-start">Edit
        Notes</a>
    <a type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#confirmModal">Delete
        Notes</a>
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Are You Sure</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    This will delete this group of notes INCLUDING the associated quotes.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Do Not Delete</button>
                    <a type="button" class="btn btn-primary" href="{{url_for('delete_notes', note_id=notes.id) }}">Confirm</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}